@model TreinaWeb.Musica.Web.ViewModels.Musica.MusicaViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Musica</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdAlbum, "IdAlbum", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdAlbum, (SelectList)ViewBag.DropDownAlbuns, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdAlbum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success" value="Salvar">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Salvar
                </button>
            </div>
        </div>
    </div>
}

<a href="@Url.Action("Index", "Musicas")" class="btn btn-warning">
    <span><i class="glyphicon glyphicon-arrow-left"></i> Voltar</span>
</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
