@model TreinaWeb.Musica.Web.ViewModels.Musica.MusicaExibicaoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Tem certeza que deseja deletar esta música?</h3>
<div>
    <h4>Musica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeAlbum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAlbum)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger">
                <span><i class="glyphicon glyphicon-trash"></i> Deletar</span>
            </button>
            <a href="@Url.Action("Index", "Musicas")" class="btn btn-warning">
                <span><i class="glyphicon glyphicon-arrow-left"></i> Voltar</span>
            </a>
        </div>
    }
</div>
