@model TreinaWeb.Musica.Web.ViewModels.Musica.MusicaExibicaoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Musica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeAlbum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAlbum)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Musicas", new { id = Model.Id })" class="btn btn-success">
        <span><i class="glyphicon glyphicon-edit"></i> Editar</span>
    </a>
    <a href="@Url.Action("Index", "Musicas")" class="btn btn-warning">
        <span><i class="glyphicon glyphicon-arrow-left"></i> Voltar</span>
    </a>
</p>
