@model IEnumerable<TreinaWeb.Musica.Web.ViewModels.Musica.MusicaExibicaoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<div class="row">
    <div class="col-sm-10 col-lg-10 col-md-10">
        <input type="text" id="pesquisaMusica" class="form-control" />
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2">
        <button id="botaoPesquisa" class="btn btn-default">Pesquisar</button>
    </div>
</div>
<br />
<table class="table" id="tabelaMusica">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAlbum)
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeAlbum)
                </td>
                <td>

                    <div class="form-group">
                        <a href="@Url.Action("Edit", "Musicas", new { id = item.Id })" class="btn btn-success">
                            <span><i class="glyphicon glyphicon-edit"></i> Editar</span>
                        </a>
                        <a href="@Url.Action("Details", "Musicas", new { id = item.Id })" class="btn btn-warning">
                            <span><i class="glyphicon glyphicon-eye-open"></i> Detalhes</span>
                        </a>
                        <a href="@Url.Action("Delete", "Musicas", new { id = item.Id })" class="btn btn-danger">
                            <span><i class="glyphicon glyphicon-trash"></i> Deletar</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#botaoPesquisa").click(function () {
                var pesquisaMusica = $("#pesquisaMusica").val();

                $.ajax({
                    method: "GET",
                    url: "/Musicas/PesquisaPorNome/" + pesquisaMusica,
                    success: function (data) {
                        $("#tabelaMusica tbody > tr").remove();
                        $.each(data, function (i, album) {
                            $("#tabelaMusica tbody").append(
                                "<tr>" + 
                                    "<td>" + album.Nome + "</td>" +
                                "<td>" + album.NomeAlbum + "</td>" +
                                "<td>" + 
                                "<a href='/Musicas/Edit/" + album.Id + "'>Editar</a> | " + 
                                "<a href='/Musicas/Details/" + album.Id + "'>Detalhes</a> |" + 
                                "<a href='/Musicas/Delete/" + album.Id + "'>Excluir</a> " + 
                                "</td>" + 
                                "</tr>"

                            );
                        });
                    },
                    error: function (data) {
                        alert("Houve um erro durante a busca.");
                    }
                });
            });



        });
    </script>
}