@model TreinaWeb.Musica.Web.ViewModels.Album.AlbumExibicaoIndexViewModel
@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obeservacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obeservacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Albuns", new { id = Model.Id })" class="btn btn-success">
        <span><i class="glyphicon glyphicon-edit"></i> Editar</span>
    </a>
    <a href="@Url.Action("Index", "Albuns")" class="btn btn-warning">
        <span><i class="glyphicon glyphicon-arrow-left"></i> Voltar</span>
    </a>
</p>
