@model IEnumerable<TreinaWeb.Musica.Web.ViewModels.Album.AlbumExibicaoIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<div>
    <h2 class="text-left">ALBUNS DE MÚSICAS</h2>
</div>
<br />
<p>
    @Html.ActionLink("Criar", "Create")
</p>
<div class="row">
    <div class="col-md-10 col-sm-10 col-lg-10">
        <input type="text" id="pesquisaAlbum" class="form-control" />
    </div>
    <div class="col-md-2 col-sm-2 col-lg-2">
        <button id="botaoPesquisar" class="btn btn-default">Pesquisar</button>
    </div>
</div>
<br />
<table class="table" id="tabelaAlbuns">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obeservacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Obeservacoes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <div class="form-group">
                        <a href="@Url.Action("Edit", "Albuns", new { id = item.Id })" class="btn btn-success">
                            <span>Editar</span>
                        </a>
                        <a href="@Url.Action("Details", "Albuns", new { id = item.Id })" class="btn btn-warning">
                            <span>Detalhes</span>
                        </a>
                        <a href="@Url.Action("Delete", "Albuns", new { id = item.Id })" class="btn btn-danger">
                            <span>Deletar</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#botaoPesquisar").click(function () {
                var textoPesquisa = $("#pesquisaAlbum").val();
                if (textoPesquisa == "") {
                    alert("O campo de pesquisa está vazio.");
                }
                else {
                    $.ajax({
                        method: "GET",
                        url: "/Albuns/PesquisaPorNome/" + textoPesquisa,
                        success: function (data) {
                            $("#tabelaAlbuns tbody > tr").remove();
                            $("#tabelaAlbuns tbody").html(data);
                            //$.each(data, function (i, album) {
                            //    $("#tabelaAlbuns tbody").append(
                            //        "<tr>" +
                            //        "<td>" + album.Nome + "</td>" +
                            //        "<td>" + album.Ano + "</td>" +
                            //        "<td>" + album.Obeservacoes + "</td>" +
                            //        "<td>" + album.Email + "</td>" +
                            //        "<td>" +
                            //        "<div class='form-group'>" +
                            //        "<button class='btn btn-success' value='Editar'>" +
                            //        "<span class='glyphicon glyphicon-edit'></span>" +
                            //        "<a href='/Albuns/Edit/" + album.Id + "'>Editar</a>" +
                            //        "</button> " +
                            //        "<button class='btn btn-warning' value='Detalhes'>" +
                            //        "<span class='glyphicon glyphicon-eye-open'></span>" +
                            //        "<a href='/Albuns/Details/" + album.Id + "'>Detalhes</a>" +
                            //        "</button> " +
                            //        "<button class='btn btn-danger' value='Deletar'>" +
                            //        "<span class='glyphicon glyphicon-trash'></span>" +
                            //        "<a href='/Albuns/Delete/" + album.Id + "'>Deletar</a>" +
                            //        "</button>" +
                            //        "</div>" +
                            //        "</td>" +
                            //        "</tr>"
                            //    );
                            //});
                        },
                        error: function (data) {
                            alert("Houve um erro durante a busca.");
                        }
                    })
                }
            });
        });

    </script>



}
