@model IEnumerable<TreinaWeb.Musica.Dominio.Album>

@{
    ViewBag.Title = "Index";
}

<div>
    <h2 class="text-left">ALBUNS DE MÚSICAS</h2>
</div>
<br />
<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obeservacoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obeservacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <button class="btn btn-success" value="Editar">
                    <span class="glyphicon glyphicon-edit"></span>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                </button> 
                <button class="btn btn-warning" value="Detalhes">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                </button>
                <button class="btn btn-danger" value="Deletar">
                    <span class="glyphicon glyphicon-trash"></span>
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </button>
                
                
            </td>
        </tr>
    }

</table>
